DEBUG=True
SECRET_KEY=django-insecure-x_+i5p=^)b+x_5=w((kf2b24yvgu+2^fg*-k#_=j6mm^4qn2s0
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOWED_ORIGINS=http://localhost:<your-frontend-port>
ORIGIN_HTTPS_ON=False
ORIGIN_CROSS_DOMAIN=False


# Database configuration
DB_HOST=<your-database-host>
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=<your-database-password>
DB_NAME=<your-database-name>