annotated-types==0.7.0
anyio==4.13.0
asgiref==3.11.1
boto3==1.43.7
botocore==1.43.7
certifi==2026.4.22
Django==5.2.13
django-cors-headers==4.9.0
django-filter==25.2
django-storages==1.14.6
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.0
gunicorn==26.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.15
jmespath==1.1.0
packaging==26.2
payos==1.1.0
pillow==12.2.0
pip-chill==1.0.5
psycopg2==2.9.12
pydantic==2.13.4
pydantic_core==2.46.4
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.17.0
six==1.17.0
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.7.0
